body {
	background-color: lightblue;
	width: max(30%, 700px);
	align-items: center;
	text-align: center;
	margin: auto;
	background-color: lightblue;
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Bliss_location%2C_Sonoma_Valley_in_2006.jpg/1280px-Bliss_location%2C_Sonoma_Valley_in_2006.jpg"); */
	font-family: 'MS PGothic', sans-serif;
	background-size: cover;
}

/*
Source - https://stackoverflow.com/a/13184693
Posted by Peter, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-11, License - CC BY-SA 4.0
*/
hr {
    border: 1px solid black;
}
/* ::-webkit-scrollbar { */
/*     display: none; */
/* } */

.header {
    font-size: larger;
    font-style: obilique;
}

img {
	border: 1px solid black;
}

.sitemap{
  text-align: center;
	padding: 1%;
	margin: 20px 20px 20px 20px;
}
.sitemap a {
    padding: 1%;
}

.hero{
  text-align: center;
	padding: 1%;
	margin: 20px 20px auto auto;
}


a {
    text-decoration: none;
}
.about-box {
	padding: 1%;
	margin: 20px 20px auto auto;
}

.about-box li{
  list-style-position: outside;
  text-align: left;
  padding: 0;
  margin: 0;
  align-items: left;

}

.misc-info {
  display: flex;
  flex-direction: row;
}

.sub-header {
  margin-top: 20px;
  text-align: left;
  font-size: larger;
  font-style: obilique;
}

.contact sub-header{
  text-align: left
}
.contact p {
  text-align: left
}

.contact li {
  text-align: left
}
.misc-info ul {
  flex-direction: row;
}
.sub-header li{
  text-align: left;

}

.sub-header ul {
  text-align: left;
}

.updates {
	padding: 1%;
	margin: 20px 20px auto auto;
}

.updates ul {
  height: 50px;
  overflow-y: auto;
}

footer {
	margin: 20px 20px auto auto;
}

.container {
  text-align: left;
	margin: auto 0;
	justify-content: center;
	align-items: center;
}

/* Source: https://ribo.zone/free/snippets/ */
.imgtxt {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: relative;
}
.imgtxt span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-size: 2.5rem;
  color: #FFF;
  filter: drop-shadow(1px 1px 0 black) 
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);
}
.imgtxt:hover span, .imgtxt:focus span {
  opacity: 1;
}
.imgtxt:hover img, .imgtxt:focus img {
  /* add hover effects like transform or filter to your images here! */
}
	
